$border: rgb(203, 203, 203);
$gray: rgb(108, 108, 108);


.balance {
  font-size: 0.875rem;
  border: 1px solid $border;
  border-bottom-width: 2px;
  border-radius: 4px;
  color: $gray;
  position: relative;
}

.balance p {
  text-align: center;
}

.balance table {
  width: 100%;
  padding: 0.5rem 0;
  border-collapse: separate;
}

.balance thead th {
  padding: 0 0.5rem 0.15rem 0.5rem;
  font-weight: 300;
  text-align: left;
}

.balance thead th:nth-child(2) {
  text-align: right;
}

.balance tbody td {
  text-align: left;
  padding: 0.5rem 0.5rem 0 0.5rem;
  color: black;
}

.balance tbody td:nth-child(2) {
  text-align: right;
  font-size: 1rem;
}

.balance-value {
  font-weight: 400;
}

.balance-title {
  text-transform: uppercase;
}

.balance-link {
  margin-top: 0.25rem;
  padding: 0.5rem;
  border-top: 1px solid $border;
  background: rgb(243, 243, 243);
}

.balance a {
  cursor: pointer;
  color: blue;
}

.balance a:nth-child(2) {
  float: right;
}
