/*!
 * Ladda
 * http://lab.hakim.se/ladda
 * MIT licensed
 *
 * Copyright (C) 2015 Hakim El Hattab, http://hakim.se
 */


/*************************************
 * CONFIG
 */

$spinnerSize: 32px;


/*************************************
 * MIXINS
 */

@mixin prefix ( $property, $value ) {
	-webkit-#{$property}: $value;
	   -moz-#{$property}: $value;
	    -ms-#{$property}: $value;
	     -o-#{$property}: $value;
	        #{$property}: $value;
}

@mixin transition( $value ) {
	-webkit-transition: $value !important; // important to override bootstrap
	   -moz-transition: $value !important;
	    -ms-transition: $value !important;
	     -o-transition: $value !important;
	        transition: $value !important;
}

@mixin transform( $value ) {
	@include prefix( transform, $value );
}

@mixin transform-origin( $value ) {
	@include prefix( transform-origin, $value );
}


/*************************************
 * BUTTON BASE
 */

.ladda-button {
	position: relative;
}


/* Spinner animation */
.ladda-button .ladda-spinner {
	position: absolute;
	z-index: 2;
	display: inline-block;
	width: $spinnerSize;
	height: $spinnerSize;
	top: 50%;
	margin-top: 0;
	opacity: 0;
	pointer-events: none;
}

/* Button label */
.ladda-button .ladda-label {
	position: relative;
	z-index: 3;
}


/*************************************
 * EASING
 */

.ladda-button,
.ladda-button .ladda-spinner,
.ladda-button .ladda-label {
	@include transition( 0.2s cubic-bezier(0.175, 0.885, 0.320, 1.275) all );
}

.ladda-button[data-style=zoom-in],
.ladda-button[data-style=zoom-in] .ladda-spinner,
.ladda-button[data-style=zoom-in] .ladda-label,
.ladda-button[data-style=zoom-out],
.ladda-button[data-style=zoom-out] .ladda-spinner,
.ladda-button[data-style=zoom-out] .ladda-label {
	@include transition( 0.1s ease all );
}


/*************************************
 * ZOOM-IN
 */

.ladda-button[data-style=zoom-in] {
	overflow: hidden;
}

.ladda-button[data-style=zoom-in] .ladda-spinner {
  left: 50%;
  margin-left: $spinnerSize/-2;
  @include transform( scale( 0.2 ) );
}

.ladda-button[data-style=zoom-in] .ladda-label {
  position: relative;
  display: inline-block;
}

.ladda-button[data-style=zoom-in][data-loading] .ladda-label {
	opacity: 0;
	@include transform( scale( 2.2 ) );
}

.ladda-button[data-style=zoom-in][data-loading] .ladda-spinner {
	opacity: 1;
	margin-left: 0;
	@include transform( none );
}


/*************************************
 * Active state: disable button.
 */
.ladda-button[disabled],
.ladda-button[data-loading] {
  border-color: #000;
  cursor: default;
  background-color: #999;
}
