@import 'common';
@import 'layout';


html {
  font-size: 1rem;
  height: 100%;
}

body {
  height: 100%;
  background-color: $main-bg;
  font-family: $main-font;
  font-weight: $main-font-weight;
  line-height: 1;
}

th {
  font-weight: 500;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hr {
  border-style: solid;
}

.body {
  @include flexbox();
  @include flex-column();
  height: 100%;
}

.break-word {
  word-wrap: break-word;
}

/* for those that dislike JavaScript */
.noscript {
  @include flexbox();
  height: 100%;
  align-items: center;
  justify-content: center;
}

.nocontent {
  text-align: center;
  margin: auto;
}


/* header with logo and text */

header {
  height: 4rem;
  background: $main-bg;
  @include flex(none);
  z-index: 4;
}

.logo-bg {
  padding-left: 0;
  height: 4rem;
}

.logo-bg .logo-area {
  width: 4.5rem;
  height: 100%;
  display: block;
  text-align: center;
  background: purple(1);
  @include linear-gradient(154deg, purple(1) 0%, navy-blue(1) 100%);
}

.right-logo {
  z-index: 4;
  position: absolute;
  left: 6rem;
  top: 0;
}

.right-logo .thin {
  position: relative;
  margin: 0;
  top: 1.25rem;
  font-family: Raleway;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.right-logo a {
  position: relative;
  top: 1.45rem;
  font-weight: 300;
  font-size: 1.1rem;
  color: $dark-link-color;
  border-bottom: 1px solid transparent;
  padding: 0.375rem;
  margin-right: 1rem;
  margin-left: 0.25rem;
}

.right-logo .active,
.right-logo a:focus,
.horizmenu .active {
  @include active-link();
}


/* main content */

.site-content {
  @include flex(1, 0, auto);
  padding: 4rem 6rem 3rem 6rem;
  @include border-main();
  position: relative;
  background: #F3F6FF;
  background-image: url('/img/shattered.jpg');
  background-repeat: repeat;
  z-index: 1;
}

.inner-content {
  max-width: 1500px;
}

.site-content.user {
  padding: 3rem 4rem 2rem 4rem;
  background: $main-bg;
}

.site-content.invoice-content {
  padding-left: 0;
  padding-right: 0;
}

.site-content.no-header {
  padding-top: 1rem !important;
}

.welcome-header,
.welcome-feature {
  color: rgb(0, 0, 0);
  color: rgba(0, 0, 0, 0.85);
  padding-top: 0;
  text-shadow: 1px 1px 1px white;
}

.welcome-feature ul {
  font-size: 1.2rem;
  line-height: 1.4rem;
  margin-top: 1rem;
  padding: 0;
}

.welcome-feature ul li {
  list-style-type: none;
}

.top-feature {
  display: none;
}

.bottom-feature ul {
  padding: 0;
}


h1 {
  font-size: 2.25rem;
  font-weight: inherit;
  margin: 0;
}

h2 {
  font-weight: 400;
  padding: 0;
  margin: 0;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: $main-font-weight + 100;
  margin: 0;
}

h4 {
  font-size: 1.15rem;
  font-weight: inherit;
  margin: 0;
  line-height: 1.3rem;
}

h5 {
  margin: 0;
  font-weight: 500;
}

.title {
  position: relative;
}

.site-content .title-1 {
  min-height: 3rem;
}

ul {
  padding-left: 0;
  list-style-position: inside;
  line-height: 1.3rem;
  margin-top: 0;
}

ul li {
  list-style-type: disc;
  padding-top: 1rem;
}


.separator-m {
  margin: 1rem;
}

.separator-m-2 {
  margin: 2rem;
}

.separator-p {
  padding: 1rem;
}


.loginarea {
  padding: 1.5rem 2rem;
  border: 2px solid dark-blue(1);
  border-radius: 3px;
  background-color: $main-bg;
  color: black;
}

.loginarea .title-3 {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.loginarea .title-4 {
  margin-top: 1rem;
  color: $gray;
}

.loginarea .user-tabs {
  padding-top: 0.5rem;
}

.loginarea .user-tabs h4 {
  display: inline-block;
}

.login-signup {
  border-top: 1px solid $gray;
  margin-top: 2rem;
  padding-top: 1rem;
  color: $gray;
  font-size: 0.9rem;
}

input, .button {
  height: 40px;
  margin-top: 1.5rem;
  box-sizing: border-box;
  border-radius: 0;
  padding: 0.4rem;
}

input, .button-full {
  width: 100%;
}


input {
  border: 1px solid $gray-128;
  background-color: $main-bg;
}

input:focus {
  box-shadow: 0 0 2px blue;
}

label {
  margin-top: 2rem;
  display: block;
}

label,
.text-heavy {
  font-weight: 500;
}

fieldset label:first-child {
  margin-top: 0;
}

.main-button {
  background-color: $green;
  border: 1px solid $dark-green;
  color: white;
}

.main-button:hover,
.main-button:focus {
  background-color: solid-color($green-85);
}

.info-box, .error-box {
  width: calc(100% + 4rem);
  margin-top: 1rem;
  margin-left: -2rem;
  margin-bottom: -1.5rem;
  position: relative;
}

.error-box {
  color: $red;
  background: rgb(255, 215, 215);
}

.info-box {
  color: $dark-green;
  background: $green-15;
}

.box-msg {
  padding: 0.75rem 0.5rem;
}

.box-msg button {
  background: none;
  border: none;
  padding: 0;
  font-size: 1.25rem;
}


.release-tag {
  position: absolute;
  left: 6rem;
  bottom: 0;
  opacity: 0.6;
}

.release-tag p {
  color: rgba(255, 255, 255, 0.5);
  text-shadow: 1px 1px black;
  text-align: left;
  margin-bottom: 0.5rem;
}


/* footer */

footer {
  @include flex(none);
}

.footer {
  padding: 1.5rem 6rem;
  background: $dark-purple;
  @include linear-gradient(10deg, navy-blue(1) 0%, purple(1) 100%);
  background-size: 100% 100%;
  position: relative;
}

.footer.user {
  padding-left: 4rem;
  padding-right: 4rem;
}

.footer .right-bottom {
  position: absolute;
  bottom: 0.45rem;
  right: 4rem;
}

.footer a {
  margin-right: 1rem;
  color: $main-bg;
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.9rem;
}

.footer .active {
  color: solid-color(rgba(255, 255, 255, 0.8));
  color: rgba(255, 255, 255, 0.8);
}

.footer hr {
  border: 0;
  padding: 2px 0;
}
